#container{
   width: 100%;
   background-color:rgb(248,249, 249);
   /* position: sticky; */
}



header ul{
    
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-wrap: nowrap;
    align-content: flex-end;
    
    gap: 20px
    
};

header ul li{
    list-style: none;
   
   

}

.li{
    list-style: none;
    /* align-content: center; */
    margin-top: 10px;
}
#basic-addon2{
    width: 400px;
}


